/**********
Header
**********/
header {
    font-size: 200%;
    background-color: #C1C1C1;
    text-align: center;   
    border: solid 2px;
}

/*header skyline image*/
header img {
    height: auto;
    width:100%;
    padding: 0;
    border: 1px solid;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

/*background color*/
body {
    background-color: #2C4251;
}

/***********
navigation
************/
#nav ul {
    list-style-type: none;
    margin: 10;
    padding: 10px;
    overflow: hidden;
    background-color: #c1c1c1;
    width: 92%;
    display: table;
    border: solid 2px;
    border-radius: 5px
}

/* Navigation list items CSS */
#nav li  {
    padding: 8px;
    background-color: #2c4251;
    display: table-cell;
    width: auto;
    text-align: center;  
    border-radius: 5px;
}

/* Change color of navigation bar links */
#nav li a {
    color: #ffffff;
    
}

/* Change color of navigation bar with hover */
#nav li a:hover {
    background-color: #D16666;
}

/**********
content
*********/

/*edit titles in index*/
#brewery li{
  line-height:1.5em;
  border: 2px #D16666;
  float:left;
  display:inline-block;
  width:100%;
  font-size: 150%;
  color: #ffffff;

}

/*edit text in index*/
#brewery p {
    float: center;
    padding: 5px ;
    color: aliceblue;
    margin-right: 15px;
}

/*text on contact page*/
.login p {
    float: center;
    padding: 5px ;
    color: aliceblue;
    margin-right: 15px;
    font-size: 200%;
}


/*edit image sizes on index*/
.container img{
    width: 100%;
    height: auto;
}

/*edit background on index page*/
.brewery {
    background-color: #526470;
    padding: 5px;
}

/*********
footer
**********/
footer {
    color:aliceblue;
    float: right;
    font-size: 90%
    
}

/********
Map size
*********/
#map iframe {
    width: 100%;
    height: 400;
}

/*text above randomizer*/
#randomizer p {
    font-size: 40px;
    color: aliceblue;
    
}


/*contact.html sign up form css*/
/*set up the sign up/cancel button*/
button {
    background-color: #aliceblue;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
}

/*set up the input fields for email and password*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*set up the button to be side by side*/
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/*padding for sign up form*/
.container {
    padding: 20px;
}



/*Media Queries*/
@media(min-width: 320px) and (max-width:568px) {
  #menu ul {
    display:none;
  }
}

@media(min-width: 568px){
  #menu select, #menu button {
    display:none;
  }
}

/* set up two columns for UL */
#brewery ul{
 list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
              column-count: 3;
/*media query to change to two or one columns at certain screen width*/    
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
}

